.DS_Store
npm-debug.log
coverage
tools/**/*.js
cypress/screenshots
cypress/videos
storybook-static
logs
.cache



# package modules and dist files
node_modules
packages/**/node_modules
packages/**/dist

# idea
.idea
.vscode/